/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';

$h1-size: 1.8rem;
$header-color: #2D2930;
$font-color-header: #3896B2;
$background-box-color: #B9CFDF;
$a-size: 2rem; 
$bp-desktop: 960px;

@mixin bp-desktop {
		@media only screen and (min-width: $bp-desktop) {
		@content;
		}
}


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {

	background: #D4DEE8;
	font-family: 'Jua', sans-serif;
}




.info-box {
	background: #FCAF58;
	padding: 20px;
	ul {
		display: flex;
		justify-content: space-between;
	}
	h1, h2, img{
		color: #4E598C;
		font-size: 20px;
		padding-left: 10px;
	
	}
	h2 {
		padding-right: 30px;
		font-size: 20px;
	}

}

.classes {
	text-align: center;
	margin: auto;
	display: flex;
	flex-direction: row;

	.node {
		background: red;
		width: 50%;
	}
	.motions {
		background: blue;
		width: 50%;
	}
	.vue {
		background: yellow;
		width: 50%;
	}
	.teams {
		background: orange;
		width: 50%;
	}
}







